* {
    font-variant-ligatures: none;
}

:root {
    /* colors */
    --kotoba: Kiona, Aron Grotesque Light, Montserrat Regular;
    --aijiro: rgba(235, 246, 247, 1);
    --aijiro-alph: rgba(235, 246, 247, 0.5);
    --mashiro: rgb(255, 255, 255);
    --zoge-iro: rgb(255, 255, 240);
    --hakushi: rgb(249, 251, 255);
    --hakushi-alph: rgb(249, 251, 255, 0.5);
    --mizu-iro: rgb(134, 171, 165);
    --gunjo-iro: rgb(93, 140, 174);
    --sora-iro: rgb(77, 143, 172);
    --chigusa-iro: rgb(49, 117, 137);
    --hanada: rgb(4, 79, 103);
    --ai-iro: rgb(38, 67, 72);
    --benimidori: rgb(120, 119, 155);
    --kurobeni: rgb(35, 25, 30);
    --ruri-iro: rgb(31, 71, 136);
    --rurikon: rgb(27, 41, 75);
    --rurikon-alph: rgba(27, 41, 75, 0.15);
    --konjo-iro: rgb(0, 49, 113);
    --ao: rgb(0, 0, 255);
    --omeshi-onando: rgb(61, 76, 81);
    --tetsuonando: rgb(43, 55, 54);
    --sakuranezumi: rgb(172, 129, 118);
    --ginshu: rgb(188, 45, 41);
    --azuki-iro: rgb(103, 36, 34);
    --enji-iro: rgb( 157, 41, 51);
    --kokushoku: rgb(23, 20, 18);
    --kokushoku-alph: rgba(23, 20, 18, 0.2);
    /* not accurate */
    --aijiro-haiiro: #A0A3A4;
    --haiiro: rgba(91, 90, 92, 0.5);
    --sukaitsuri-iro: rgb(220, 240, 250);
    /* default */
    --nandemonai: rgba(0, 0, 0, 0);
    --shiro: var(--hakushi);
    --kuro: var(--kokushoku);
    --shiro-kotoba: var(--aijiro);
    --kuro-kotoba: var(--kurobeni);
    color: var(--kuro-kotoba) !important;
    background: var(--aijiro-alph) !important;
    font-family: var(--kotoba);
}

a {
    color: var(--ginshu) !important;
}

a:hover {
    color: var(--sakuranezumi) !important;
}

bkg>img {
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 200% 200%;
    z-index: -100;
    background: url("bkg.jpg");
    border: none;
    filter: brightness(0.5) contrast(2) invert(1) hue-rotate(-30deg);
}

bkg {
    margin: 0 auto;
}

body {
    border: 10px solid var(--kokushoku);
    margin: 0 auto;
}

main {
    max-width: 60vw;
    margin: 0 auto;
    padding: 1em;
    /*margin-left:15%;*/
    /*margin-right:15%;*/
    background: var(--mashiro);
    border: 10px inset var(--kokushoku);
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}

p.indent {
    text-indent: 2em !important;
}

.cmbx-12x-x-144,
.cmbsy-10x-x-172 {
    font-family: Aron Grotesque Light;
    color: var(--ai-iro);
    text-transform: lowercase;
}

.cmbx-12,
p {
    font-family: Kiona;
}